.mainSlider {
    width: 100%;
    height: 700px;
}

.mainSlider .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSlider .swiper-slide img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1024px) {
    .mainSlider {
        height: 60vw;
    }
}

@media screen and (max-width:480px) {
    .mainSlider {
        height: 70vw;
    }
}