.home-wrapper {
    width: 100%;
}

.home-slider {
    width: 100%;
    margin-bottom: 200px;
}

.header .header-alt {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.header-alt h2 {
    font-size: 50px;
    font-weight: 600;
}

.header-alt h2 br {
    display: none;
}

.header-alt h2 span {
    color: #E20A17;
}

.header-alt p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 50px;
    line-height: 1.5;
}

.urunslider-wrapper {
    width: 100%;
    margin: 100px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:1024px) {
    .home-slider {
        margin-bottom: 0;
    }

    .header .header-alt {
        width: 90%;
        margin-top: 80px;
    }

    .header-alt h2 {
        font-size: 36px;
    }

    .header-alt p {
        font-size: 20px;
        margin-top: 30px;
    }
}

@media screen and (max-width:768px) {
    .urunslider-wrapper {
        margin: 80px auto;
    }

    .header .header-alt {
        margin-top: 70px;
    }

    .header-alt h2 {
        font-size: 28px;
    }

    .header-alt p {
        font-size: 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width:480px) {
    .urunslider-wrapper {
        margin: 50px auto;
    }

    .header .header-alt {
        margin-top: 50px;
    }

    .header-alt h2 {
        font-size: 24px;
    }

    .header-alt h2 br {
        display: block;
    }

    .header-alt p {
        font-size: 16px;
        margin-top: 15px;
    }
}



/******************* News stiller ******************************************************/

.news-wrapper {
    width: 100%;
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:480px) {

    .news-wrapper {
        margin: 50px 0;
    }
}

/*****************Misyon vizton section Stilleri**************************************/
.misyon-wrapper {
    width: 100%;
    background-image: url(../../assets/tarim/rice-field.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 130px;
    position: relative;
}

.misyon-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 37, 93, 0.4);
}

.misyon-wrapper .misyon,
.misyon-wrapper .vizyon {
    flex: 1;
    min-width: 400px;
    color: #f0f0f0;
    padding: 50px 40px;
    z-index: 1;
    transition: all 0.5s ease;
}

.misyon-wrapper .misyon {
    background-color: rgba(226, 10, 23, 0.5);
}

.misyon-wrapper .vizyon {
    background-color: rgba(2, 37, 93, 0.5);
}

.misyon-wrapper h3 {
    font-size: 48px;
    font-weight: 500;
}

.misyon-wrapper p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}

.misyon-wrapper .vizyon h3 {
    text-align: right;
}

.misyon-wrapper .misyon:hover,
.misyon-wrapper .vizyon:hover {
    background-color: transparent;
}

@media screen and (max-width:1024px) {
    .misyon-wrapper {
        padding: 50px 100px;
    }

    .misyon-wrapper .misyon,
    .misyon-wrapper .vizyon {
        padding: 30px 40px;
    }

    .misyon-wrapper h3 {
        font-size: 36px;
    }

    .misyon-wrapper .vizyon h3 {
        text-align: left;
    }
}

@media screen and (max-width:768px) {
    .misyon-wrapper {
        padding: 30px 20px;
    }

    .misyon-wrapper .misyon,
    .misyon-wrapper .vizyon {
        padding: 20px 30px;
    }

    .misyon-wrapper h3 {
        font-size: 32px;
    }

    .misyon-wrapper p {
        margin-top: 10px;
        font-size: 18px;
    }
}

@media screen and (max-width:480px) {
    .misyon-wrapper {
        padding: 0;
    }

    .misyon-wrapper .misyon,
    .misyon-wrapper .vizyon {
        padding: 15px 30px;
    }

    .misyon-wrapper h3 {
        font-size: 28px;
    }

    .misyon-wrapper p {
        margin-top: 5px;
        font-size: 16px;
        text-wrap: pretty;
    }
}