/* urunSwiper CSS stili */

.slider-title {
    position: absolute;
    top: 0;
    font-size: 50px;
    line-height: 60px;
    color:  #02255D;
}

.urunSwiper {
    width: 90%;
    height: 700px;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urunSwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 480px;
    max-width: 300px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* padding: 20px ; */
    background: #f9f9f9;
    margin: 0 auto;
    margin-top: 130px;
}

.urunSwiper .swiper-slide img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
    align-self: flex-start;
}

.urunSwiper .swiper-slide h3 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
}

.urunSwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.urunSwiper .swiper-pagination-bullet-active {
    background: #E20A17;
}

.urunSwiper .swiper-button-next,
.urunSwiper .swiper-button-prev {
    position: absolute;
    top: 25px;
    z-index: 10;
    width: 50px;
    height: 50px;
    color: #E20A17;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.urunSwiper .swiper-button-next::after,
.urunSwiper .swiper-button-prev::after {
    font-size: 16px;
    font-weight: bold;
}

.urunSwiper .swiper-button-prev {
    left: calc(100% - 130px);
}