.tarif-wrapper {
    width: 100%;
    padding-top: 50px;
}

.tarif-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarif .tarif-ust {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.tarif-ust figure {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tarif-ust figure img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    min-width: 400px;
    border-radius: 10px;
}

.tarif-ust figure figcaption h2 {
    font-weight: 500;
    margin-bottom: 5px;
}

.tarif-ust div {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarif h3 {
    font-weight: 500;
    font-size: 20px;
    color: rgba(226, 10, 23, 1);
}

.tarif .tarif-alt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarif-alt ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width:480px) {
    .tarif-wrapper {
        padding-top: 20px;
    }

    .tarif-container {
        width: 90%;
    }

    .tarif .tarif-ust {
        gap: 20px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .tarif-ust figure {
        width: 100%;
        gap: 20px;
    }

    .tarif-ust figure img {
        width: 100%;
        height: 200px;
        min-width: 300px;
    }

    .tarif-ust figure figcaption h2 {
        font-size: 20px;
        line-height: 1.2;
    }

    .tarif-ust div {
        width: 100%;
    }

    .tarif .tarif-alt {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    
    .tarif-alt ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}