.bakliyat {
    width: 100%;
}

.bakliyat-ust {
    width: 100%;
    height: 300px;
    background: url(../../assets/yeni/hepsi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.bakliyat-ust h1 {
    width: 70%;
    height: 200px;
    line-height: 200px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #f9f9f9;
    text-align: center;
    background-color: rgba(2, 37, 93, 0.7);
}

.bakliyat-bilgi-container {
    width: 70%;
    margin: 0 auto;
}

.bakliyat-bilgi-container .bakliyat-bilgi {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.bakliyat-bilgi .bakliyat-bilgi-img {
    flex: 1;
    height: 400px;
    min-width: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.bakliyat-bilgi .bakliyat-bilgi-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bakliyat-bilgi .bakliyat-detay {
    flex: 1;
    min-width: 400px;
}

.bakliyat-bilgi .bakliyat-detay ul {
    width: 100%;
}

.bakliyat-bilgi .bakliyat-detay ul h3 {
    font-size: 20px;
    color: rgba(226, 10, 23, 1);
    margin-bottom: 5px;
}

.bakliyat-bilgi .bakliyat-detay ul li {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
}

.bakliyat-bilgi .bakliyat-detay ul h4 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.bakliyat-bilgi .bakliyat-detay ul h4 .bakliyat-span {
    color: rgba(226, 10, 23, 1);
    cursor: pointer;
}

.bakliyat .bakliyat-links {
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bakliyat .bakliyat-links .bakliyat-link {
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(226, 10, 23, 1);
    color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: max-content;
}

.bakliyat .bakliyat-links .bakliyat-link:hover {
    background-color: rgba(2, 37, 93, 1);
}

.bakliyat .bakliyat-links .bakliyat-link.active {
    background-color: rgba(2, 37, 93, 1);
    color: #f9f9f9;
}

@media screen and (max-width:1024px) {
    .bakliyat-ust {
        height: 200px;
        margin-bottom: 60px;
    }

    .bakliyat-ust h1 {
        height: 120px;
        line-height: 120px;
        font-size: 40px;
    }

    .bakliyat-bilgi .bakliyat-bilgi-img {
        height: 360px;
        min-width: 320px;
    }

    .bakliyat-bilgi .bakliyat-detay {
        min-width: 320px;
    }

    .bakliyat-bilgi .bakliyat-detay ul li {
        font-size: 16px;
    }

    .bakliyat-bilgi .bakliyat-detay ul h4 {
        font-size: 18px;
    }

    .bakliyat .bakliyat-links {
        margin-top: 50px;
        gap: 10px;
    }

    .bakliyat .bakliyat-links .bakliyat-link {
        padding: 5px 16px;
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    .bakliyat-bilgi-container .bakliyat-bilgi {
        gap: 30px;
    }
    .bakliyat-bilgi .bakliyat-bilgi-img {
        height: 250px;
    }

    .bakliyat-bilgi .bakliyat-detay ul h3 {
        font-size: 18px;
    }

    .bakliyat-bilgi .bakliyat-detay ul li {
        font-size: 15px;
    }

    .bakliyat-bilgi .bakliyat-detay ul h4 {
        font-size: 16px;
    }

    .bakliyat .bakliyat-links {
        margin-top: 50px;
        gap: 10px;
    }

    .bakliyat .bakliyat-links .bakliyat-link {
        padding: 5px 12px;
        font-size: 14px;
    }
}

@media screen and (max-width:480px) {
    .bakliyat-ust {
        height: 150px;
        margin-bottom: 50px;
    }

    .bakliyat-ust h1 {
        height: 90px;
        line-height: 90px;
        font-size: 32px;
    }

    .bakliyat-bilgi .bakliyat-bilgi-img {
        height: 200px;
    }

    .bakliyat .bakliyat-links {
        margin-top: 40px;
        gap: 10px;
        width: 90%;
    }
}