.adminNews {
    width: 100%;
    padding: 20px;
}

.adminNews .adminNews-header {
    width: 100%;
    padding: 20px;
    background-color: #02255D;
    border-radius: 10px;
}

.adminNews-header span {
    display: inline-flex;
    gap: 10px;
    font-weight: 500;
    color: #f9f9f9;
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #E20A17;
    transition: all 0.3s ease;
}

.adminNews-header span:hover {
    border: 1px solid #f9f9f9;
}

.adminNews-header span i {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1024px) {
    .adminNews {
        padding: 20px 0;
    }

    .adminNews .adminNews-header {
        padding: 15px;
    }

    .adminNews-header span {
        padding: 8px;
    }
}

@media screen and (max-width:768px) {
    .adminNews .adminNews-header {
        padding: 12px;
    }

    .adminNews-header span {
        padding: 6px;
        font-size: 14px;
    }
}

@media screen and (max-width:480px) {

    .adminNews-header span {
        font-size: 12px;
    }
}

/************************Yeni duyuru stilleri*****************/
.adminNews .addNews {
    width: 100%;
    background-color: #02255D;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.addNews .addNews-form {
    display: flex;
    gap: 20px;
}

.addNews-form .form-sag {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addNews-form .form-sol {
    flex: 1;
}

.addNews .addNews-form .form-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.addNews .addNews-form .form-item label img {
    width: 240px;
    object-fit: cover;
    cursor: pointer;
}

.addNews .addNews-form .form-item input,
.addNews .addNews-form .form-item textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    background-color: #f9f9f9;
    font-weight: 500;
}


.addNews .addNews-form .form-item p {
    color: #f44336;
    border-bottom: 1px solid #E20A17;
    font-size: 18px;
    margin-bottom: 5px;
}

.addNews .addNews-btns {
    display: flex;
    gap: 20px;
}

.addNews .addNews-btns button {
    padding: 8px 25px;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    color: #f9f9f9;
    cursor: pointer;
    border: 1px solid transparent;
}

.addNews .addNews-btns .add-btn {
    background-color: #4caf50;
}

.addNews .addNews-btns .add-btn:hover {
    border: 1px solid #f9f9f9;
}

.addNews .addNews-btns .cancel-btn {
    background-color: #E20A17;
}

.addNews .addNews-btns .cancel-btn:hover {
    border: 1px solid #f9f9f9;
}

@media screen and (max-width:768px) {
    .addNews .addNews-form {
        gap: 10px;
    }

    .addNews-form .form-sag {
        flex: 3;
        gap: 10px;
    }

    .addNews .addNews-form .form-item label img {
        width: 180px;
    }

    .addNews .addNews-form .form-item input,
    .addNews .addNews-form .form-item textarea {
        font-size: 13px;
    }


    .addNews .addNews-form .form-item p {
        font-size: 15px;
    }

    .addNews .addNews-btns {
        gap: 10px;
    }

    .addNews .addNews-btns button {
        font-size: 15px;
    }
}
@media screen and (max-width:480px) {
    .adminNews .addNews {
        padding: 10px 20px;
    }
    .addNews .addNews-form {
        gap: 0px;
        flex-direction: column;
    }

    .addNews .addNews-form .form-item label img {
        width: 150px;
    }

    .addNews .addNews-form .form-item input,
    .addNews .addNews-form .form-item textarea {
        font-size: 12px;
    }

    .addNews .addNews-form .form-item p {
        font-size: 14px;
    }

    .addNews .addNews-btns {
        gap: 10px;
    }

    .addNews .addNews-btns button {
        font-size: 14px;
    }
}

/*********details stilleri***********************************/

.adminNews main {
    width: 100%;
    margin-top: 50px;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.details-table th,
.details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    height: 100%;
}

.details-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.details-table td img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
}

.details-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.details-table tr:hover {
    background-color: #f1f1f1;
}

.details-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.details-icons i {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
}

.details-icons i span {
    font-size: 14px;
    font-style: normal;
}

.details-icons .edit {
    color: #4caf50;
    transition: all 0.3s ease;
    border: 1px solid #4caf50;
}

.details-icons .edit:hover {
    color: #f9f9f9;
    background-color: #4caf50;
}

.details-icons .delete {
    color: #f44336;
    transition: all 0.3s ease;
    border: 1px solid #f44336;
}

.details-icons .delete:hover {
    color: #f9f9f9;
    background-color: #f44336;
}

@media screen and (max-width:1024px) {
    .adminNews main {
        margin-top: 30px;
    }

    .details-table th,
    .details-table td {
        padding: 6px;
        font-size: 15px;
    }

    .details-table td img {
        width: 150px;
    }

    .details-icons {
        gap: 10px;
    }
}

@media screen and (max-width:768px) {
    .adminNews main {
        margin-top: 20px;
    }

    .details-table th,
    .details-table td {
        padding: 5px;
        font-size: 13px;
    }

    .details-table td img {
        width: 120px;
    }

    .details-icons {
        gap: 10px;
    }

    .details-icons i {
        font-size: 18px;
        padding: 8px;
    }

    .details-icons i span {
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {

    .details-table th,
    .details-table td {
        padding: 5px;
        font-size: 10px;
    }

    .details-table td img {
        width: 80px;
    }

    .details-icons {
        gap: 10px;
    }

    .details-icons i {
        font-size: 12px;
        padding: 5px 2px;
    }

    .details-icons i span {
        font-size: 10px;
    }
}

/***********************modal stilleri***********/

.adminModal {
    background-color: #02255D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.adminModal .modal-content {
    width: 500px;
    color: #f9f9f9;
    border-radius: 10px;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 10px;
}

.modal-content hr {
    margin-bottom: 20px;
    height: 1px;
    border: none;
    background-color: #f9f9f9;
}


.editNews-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.editNews-form .form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editNews-form .form-image {
    width: 120px;
}

.editNews-form .form-item label img {
    width: 120px;
    object-fit: cover;
    cursor: pointer;
}

.editNews-form .form-item input,
.editNews-form .form-item textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    background-color: #f9f9f9;
}

.editNews-form .form-item p {
    color: #f44336;
}

.editNews-form .modal-btns button {
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.editNews-form .modal-btns .editNews-btn {
    margin-right: 15px;
    background-color: #4caf50;
    color: #f9f9f9;
}

.editNews-form .modal-btns .modal-close-btn {
    margin-right: 15px;
    background-color: #E20A17;
    color: #f9f9f9;
}

.editNews-form .modal-btns .editNews-btn:hover {
    border: 1px solid #f9f9f9;
}

.editNews-form .modal-btns .modal-close-btn:hover {
    border: 1px solid #f9f9f9;
}

@media screen and (max-width:768px) {
    
    .adminModal .modal-content {
        width: 90%;
    }
    
    .modal-content h2 {
        font-size: 20px;
    }
    
    .modal-content hr {
        margin-bottom: 15px;
    }
    
    .editNews-form {
        gap: 15px;
    }
        
    .editNews-form .form-item input,
    .editNews-form .form-item textarea {
        font-size: 13px;
    }
    
    .editNews-form .form-item p {
        color: #f44336;
        font-size: 15px;
    }
    
    .editNews-form .modal-btns button {
        font-size: 15px;
        font-weight: 500;
        width: 90px;
    } 
}
@media screen and (max-width:480px) {
    
    .adminModal .modal-content {
        width: 100%;
    }
    
    .modal-content h2 {
        font-size: 18px;
    }
    
    .editNews-form .form-item input,
    .editNews-form .form-item textarea {
        font-size: 12px;
    }
    
    .editNews-form .form-item p {
        color: #f44336;
        font-size: 14px;
    }
    
    .editNews-form .modal-btns button {
        font-size: 14px;
        font-weight: 500;
        width: 80px;
        padding: 6px 0;
    } 
}