.bakliyat-wrapper{
    width: 100%;
}

.bakliyat-wrapper .bakliyat-header{
    width: 100%;
    background: url(../../assets/tarim/tarim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bakliyat-header h1{
    font-size: 60px;
    font-weight: 600;
    color: #f9f9f9;
}