.bakliyat-wrapper {
    width: 100%;
}

.bakliyat-wrapper .bakliyat-header {
    width: 100%;
    background: url(../../assets/tarim/tarim.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.bakliyat-header h1 {
    font-size: 60px;
    font-weight: 600;
    color: #f9f9f9;
}

.bakliyat-text {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.bakliyat-text h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgba(226, 10, 23, 1);
    margin-bottom: 10px;
}

.bakliyat-text p {
    font-size: 16px;
    font-weight: 400;
}

.bakliyat-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.bakliyat-container figure {
    width: 360px;
    position: relative;
    height: 240px;
    border-radius: 10px;
    overflow: hidden;
}

.bakliyat-container figure .bakliyat-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bakliyat-container figure .bakliyat-img img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: all 1s ease;
}

.bakliyat-container figure figcaption {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    background-color: rgba(75, 145, 18, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9f9f9;
    height: 60px;
    opacity: 0;
    bottom: -60px;
    transition: all 0.53s ease;
}


.bakliyat-container figure:hover img {
    transform: scale(1.2);
}

.bakliyat-container figure:hover figcaption {
    opacity: 1;
    bottom: 0;
}

.bakliyat-container figcaption h3 {
    font-size: 24px;
    font-weight: 600;
}

.bakliyat-container figcaption .bakliyat-icon {
    position: absolute;
    right: 0;
    font-size: 24px;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(226, 10, 23, 0.5);
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .bakliyat-container figure figcaption {
        opacity: 1;
        bottom: 0;
    }
    .bakliyat-container {
        width: 100%;
    }
    
}
@media screen and (max-width:768px) {
    .bakliyat-container figure {
        width: 300px;
        height: 200px;
    }
    .bakliyat-container figure figcaption {
        height: 50px;
    }
    .bakliyat-container figcaption h3 {
        font-size: 20px;
    }
    
    .bakliyat-container figcaption .bakliyat-icon {
        font-size: 20px;
    }
    .bakliyat-wrapper .bakliyat-header {
        height: 150px;
        margin-bottom: 60px;
    }
    
    .bakliyat-header h1 {
        font-size: 40px;
    }
    .bakliyat-text {
        width: 90%;
    }
    
    .bakliyat-text h2 {
        font-size:24px;
    }
    
    .bakliyat-text p {
        font-size: 14px;
    }
}
@media screen and (max-width:480px) {
    .bakliyat-container figure {
        width: 90%;
        height: 180px;
    }
    .bakliyat-container figure figcaption {
        height: 40px;
    }
    .bakliyat-header h1 {
        font-size: 32px;
    }
    .bakliyat-text {
        width: 90%;
        text-align: left;
    }
    .bakliyat-text h2 {
        font-size:18px;
    }
    
    .bakliyat-text p {
        font-size: 12px;
    }
}