.news-container {
    width: 80%;
    margin: 0 auto;
}

.news-container .news-header {
    margin-bottom: 50px;
}

.news-container .news-header h2 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.news-container .news-header h2 span {
    color: rgba(226, 10, 23, 1);
}

.news-container .newsSwiper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsSwiper .swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    height: 480px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: aqua;
}

.newsSwiper .swiper-slide figure {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.newsSwiper .swiper-slide figure::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(226, 10, 23, 0.1);
}

.newsSwiper .swiper-slide figure .figure-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.newsSwiper .swiper-slide figure .figure-img img {
    width: 100%;
    height: 100%;
}

.newsSwiper .swiper-slide figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 20px 40px;
    background-color: rgba(2, 37, 93, 0.801);
    color: #f9f9f9;
    z-index: 999;
}

.newsSwiper .swiper-slide figure figcaption h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

.newsSwiper .swiper-slide figure figcaption p {
    font-size: 16px;
    font-weight: 300;
}

.newsSwiper .swiper-slide figure figcaption img {
    width: 100px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.newsSwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.newsSwiper .swiper-pagination-bullet-active {
    background: #E20A17;
}

.newsSwiper .swiper-button-next,
.newsSwiper .swiper-button-prev {
    width: 50px;
    height: 50px;
    color: #f9f9f9;
    background-color: #e20a1885;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.newsSwiper .swiper-button-next:hover,
.newsSwiper .swiper-button-prev:hover{
    background-color: #e20a18e1;
}

.newsSwiper .swiper-button-next::after,
.newsSwiper .swiper-button-prev::after {
    font-size: 16px;
    font-weight: bold;
}