.urunler-wrapper {
    width: 100%;
}

.urunler-wrapper header {
    width: 100%;
    padding: 50px 0 20px 0;
    background: url(../../assets/tarim/rice-field.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.urunler-wrapper header .header-container {
    width: 80%;
    margin: 0 auto;
    background-color: #02255d6e;
    padding: 20px 0 50px 0;
}

.urunler-wrapper header h1 {
    text-align: center;
    margin: 50px auto;
    font-size: 48px;
    font-weight: 500;
    color: #f9f9f9;
}

.urunler-wrapper header menu ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.urunler-wrapper header menu ul li {
    text-align: center;
    cursor: pointer;
    padding: 12px 20px;
    background-color: #E20A17;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    color: #f9f9f9;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.urunler-wrapper menu ul li.selected {
    background-color: #02255dd7;
}

.urunler-wrapper header menu ul li:hover {
    background-color: #02255dd7;
}

.urunler-container {
    width: 80%;
    margin: 0 auto;
}

.urunler-container main {
    width: 100%;
    margin-top: 100px;
}

.urunler-container main section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.urunler-container section figure {
    width: 280px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 50px;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.urunler-container section figure .figure-img {
    height: 240px;
    max-width: 250px;
    object-fit: cover;
    transition: all 0.5s ease;
    border-radius: 10px;
    overflow: hidden;
}

.urunler-container section figure img {
    height: 240px;
    max-width: 250px;
    object-fit: cover;
    transition: all 0.5s ease;
}

.urunler-container section figure img:hover {
    transform: scale(1.2);
}

.urunler-container section figure figcaption {
    background-color: #E20A17;
    padding: 20px 5px;
    color: #f9f9f9;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width:1400px) {

    .urunler-wrapper header menu ul {
        width: 100%;
    }

    .urunler-wrapper header menu ul li {
        padding: 10px 5px;
        font-size: 16px;
        font-weight: 500;
    }
}

@media screen and (max-width:1024px) {

    .urunler-wrapper header menu ul {
        flex-direction: column;
        gap: 2px;
    }

    .urunler-wrapper header menu ul li {
        width: 80%;
        margin: 0 auto;
        padding: 20px 20px;
    }

    .urunler-wrapper header h1 {
        margin: 10px auto;
        font-size: 36px;
    }
}

@media screen and (max-width:480px) {
    .urunler-wrapper header .header-container {
        width: 90%;
        padding: 10px 0 20px 0;
    }

    .urunler-wrapper header menu ul {
        width: 100%;
        flex-direction: column;
        gap: 2px;
    }

    .urunler-wrapper header menu ul li {
        padding: 10px 20px;
    }

    .urunler-container main {
        margin-top: 40px;
    }

    .urunler-container section figure {
        width: 100%;
        gap: 20px;
    }
    .urunler-container section figure figcaption {
        padding: 12px 5px;
    }
}