.urunler-wrapper {
    width: 100%;
}


.urunler-wrapper header {
    width: 100%;
    padding: 50px 0 20px 0;
    background: url(../../assets/tarim/rice-field.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.urunler-wrapper header .header-container {
    width: 80%;
    margin: 0 auto;
    background-color: #02255d6e;
    padding: 20px 0 50px 0;
}

.urunler-wrapper header h1 {
    text-align: center;
    margin: 50px auto;
    font-size: 48px;
    font-weight: 500;
    color: #f9f9f9;
}

.urunler-wrapper header menu ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.urunler-wrapper header menu ul li {
    cursor: pointer;
    padding: 12px 20px;
    background-color: #E20A17;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    color: #f9f9f9;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.urunler-wrapper menu ul li.selected {
    background-color: #02255dd7;
}

@media screen and (max-width:1400px) {
    
    .urunler-wrapper header menu ul {
        width: 100%;
    }

    .urunler-wrapper header menu ul li {
        padding: 10px 5px;
        font-size: 16px;
        font-weight: 500;
    }
}

.urunler-wrapper header menu ul li:hover {
    background-color: #02255dd7;
}

.urunler-container {
    width: 80%;
    margin: 0 auto;
}


.urunler-container main {
    width: 100%;
    margin-top: 100px;
}

.urunler-container main section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.urunler-container section figure {
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 30px;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.urunler-container section figure img {
    height: 240px;
    object-fit: cover;
    transition: all 0.5s ease;
}

.urunler-container section figure img:hover {
    transform: scale(1.2);
}

.urunler-container section figure figcaption {
    background-color: #E20A17;
    padding: 15px 25px;
    color: #f9f9f9;
    width: 100%;
    text-align: center;
    font-weight: 600;
}