.about {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .about-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-header .img-box {
    width: 400px;
}

.about-header .img-box img {
    width: 100%;
}

.about .about-content {
    width: 60%;
}

.about .about-content section {
    width: 100%;
    margin-top: 100px;
}

.about-content section figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
}

.about-content section figure .figure-box {
    width: 600px;
    overflow: hidden;
}

.about-content section figure .figure-box img {
    width: 100%;
    object-fit: cover;
    transition: all 1s ease;
}

.about-content section figure .figure-box img:hover {
    transform: scale(1.2);
}

.about-content section figure figcaption {
    width: 100%;
}

.about-content section figure figcaption p {
    font-size: 24px;
    font-weight: 300;
}

.about-content section figure figcaption p .figure-link {
    color: #E20A17;
    font-weight: 500;
    cursor: pointer;
}

.about-content .vizyon-misyon h2 {
    color: #E20A17;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 10px;
}

.about-content .vizyon-misyon p {
    font-weight: 300;
    font-size: 20px;
}