.belgeler-wrapper {
    width: 100%;
}

.belgeler-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.belgeler-container header h1 {
    font-size: 48px;
    font-weight: 500;
}

.belgeler-container main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.belgeler-container main p {
    text-align: justify;
}

.belgeler-container main p span {
    color: rgba(226, 10, 23, 1);
    font-weight: bold;
    font-size: 18px;
}

.belgeler-container .belgeler {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color:transparent;
    gap: 40px;
    margin-top: 50px;
}


.belgeler .belge {
    min-width: 260px;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(226, 10, 23, 0.3);
    transition: all 0.5s ease;
    cursor: pointer;
    border: 1px solid rgba(2, 37, 93, 1);

}

.belgeler .belge img {
    width: 240px;
}

.belgeler .belge:hover {
    transform: scale(1.1);
}

/* Overlay stilleri */
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal içeriği stilleri */
.ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px 50px;
    border-radius: 8px;
    width:80%;
    max-width: 600px;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}


.ReactModal__Content img {
    width: 100%;
}

.ReactModal__Content i {
    position: absolute;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgba(226, 10, 23, 1);
    font-size: 20px;
}

.ReactModal__Content i:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.ReactModal__Content .close-icon {
    top: 10px;
    right: 10px;
    font-size: 24px;
    padding: 5px;
    color: rgba(2, 37, 93, 1);
}

.ReactModal__Content .right-icon {
    right: 5px;
}

.ReactModal__Content .left-icon {
    left: 5px;
}

.ReactModal__Content span {
    position: absolute;
    bottom: 20px;
    font-weight: 500;
    color: rgba(226, 10, 23, 1);
}

@media screen and (max-width:480px) {
    .ReactModal__Content {
        background-color: #fff;
        padding: 40px 15px;
        width:95%;
    }

    .ReactModal__Content i {
        font-size: 16px;
    }
    
    .ReactModal__Content i:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
    
    .ReactModal__Content .close-icon {
        top: 5px;
        right: 5px;
        font-size: 20px;
        padding: 8px;
        color: rgba(2, 37, 93, 1);
    }
        
    .ReactModal__Content span {
        bottom: 20px;
        font-size: 14px;
    }
}