.yemekler-wrapper {
    width: 100%;
}

.yemekler-wrapper .yemekler-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.yemekler-container {
    width: 80%;
    margin: 0 auto;
}

.yemekler-container header{
    width: 100%;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
}

.yemekler-container header h2{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
    color: #2c2c2c;
}

.yemekler-container header p{
    font-size: 20px;
    font-weight: 300;
}

.yemekler-container menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 100px;
}

.yemekler-container menu figure{
    width: 200px;
    height: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px rgba(2, 37, 93, 0.3);
    transition: all 0.3s ease;
    overflow: hidden;
}

.yemekler-container menu figure.active{
    transform: scale(1.05);
}


.yemekler-container menu figure:hover{
    transform: scale(1.05);
}

.yemekler-container menu figure img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.yemekler-container menu figure figcaption{
    font-weight: 300;
    color: #2c2c2c;
    text-align: center;
}

.yemekler-container main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.yemekler-container main figure{
    width: 350px;
    height: 400px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(2, 37, 93, 0.3);
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.yemekler-container main figure .figure-img{
    width: 100%;
    overflow: hidden;
    height: 300px;
}


.yemekler-container main figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}

.yemekler-container main figure img:hover{
    transform: scale(1.05);
}

.yemekler-container main figcaption{
    padding: 0 10px;
    position: relative;
}

.yemekler-container main figcaption h3{
    font-weight: 500;
    color: #E20A17;
}

.yemekler-container main figcaption .yemekler-btn{
    position: absolute;
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    outline: none;
    color: #f9f9f9;
    background-color: #E20A17;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.yemekler-container main figcaption .yemekler-btn:hover{
    background-color: #ff6f61;
}